// -----------------------------------------------------------------------------
// This file contains application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// @param {String} $_direction ['row'] - Flex direction
/// @param {String} $_gap [0px] - Flex gap
@mixin flex($_direction: row, $_gap: 0) {
  @if not($_direction == row or $_direction == column) {
    @error 'flex-direction #{$_direction} must either be \'row\' or \'column\'';
  }
  display: flex;
  flex-direction: $_direction;
  gap: $_gap;
}

/// @param {String} $_direction ['row'] - Flex direction
/// @param {String} $_gap [0px] - Flex gap
@mixin flex-center($_direction: row, $_gap: 0) {
  @include flex($_direction, $_gap);
  align-items: center;
  justify-content: center;
}
