// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../assets/fonts/Inter-Regular.ttf') format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../assets/fonts/Inter-SemiBold.ttf') format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../assets/fonts/Inter-Bold.ttf') format(truetype);
  font-weight: 700;
  font-style: normal;
}

/// Typography
/// @type List
$font-sans: 'Inter', sans-serif !default;
$font-regular: 400 !default;
$font-medium: 600 !default;
$font-bold: 700 !default;
$font-body: 0.875rem !default;
$font-body-lg: 1rem !default;
$font-heading: 2rem !default;

/// Colors
/// @type Color
$color-primary: #c5f82a !default; // green
$color-accent: #5d2af8 !default; // purple
$color-neutral-50: white !default; // white
$color-neutral-700: #333333 !default; // grey
$color-neutral-800: #1f1f1f !default; // dark grey
$color-neutral-900: #141414 !default; // off black

/// Spacing
/// @type Length
$spacing-base: 4px !default;

/// Border radius
/// @type Length
$border-radius-base: 8px !default;
$border-rounded: 9999px !default;
